$sidebarbg:#263544;
$sidebarbgsub:#1d2531;
$paymentbgclr:#ffb64d;
$requestbgclr: #ff5370;
$buttoncolor:#266dd3;
$customtextcolor:#1fb986;
$textcolor:#434343;
$whitecolor:#fff;
$bigfont:36px;
$midfont:16px;
$h5font:20px;
$textcolor:#45526b;
$smallfont:13px;
$placecolor:#d8d8d8;
$trashcolor:#ed5d5d;
$navbarcolor:#515f8a;
$reqpend:#f2a14a;
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:#515f8a; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #515f8a;
}


@mixin elements {
    
   

    li{
        list-style: none;
        padding: 0;
        margin:0;
    }
    li.nav-item{
        &:hover{
            background-color: $sidebarbgsub;
        }
        a:hover{
            color:#fff;
        }
    }
    li.active{
         border-left-style: solid;
        border-left-color: #38ef7d;
        background-color: $sidebarbgsub;

        a{
            color:#fff;
        }
       
        
    }

    a{
        padding: 1.5rem 2rem;
        color:#b7c0cd;

    }
}


//end mix element

@mixin badge {
    
    font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0px;
  font-size: 10px;
  vertical-align: top;
  margin-bottom: .4rem;
  color:#fff;
  
}

//end mix bad
@mixin icons {
    .icon{
        margin-right: 1.25rem;
    }
}
//
html{ 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-size: 14px; 
    font-family: 'Rubik', sans-serif;
    background-color: #FAFBFE;
}
.carousel {
    height: 100vh;
}
.caratop{

    height: 100vh;
 
     
    .carousel-indicators>li{
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    .carousel-indicators>li.active{
        background-color:$customtextcolor;
       
    }
    img{
        height: 100vh;
    }
    
   .carousel-inner{
    position: relative;
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 15%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

   .formtop{
    width: 366px;
    height: 530px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #cccccc;
    
    background-color: white;
    height: 100vh;
a{
    color:$customtextcolor;
}
    img.logo{
       margin-top: 60px;
        width:240px;
        height:60px ;
    }
    label{
        color:#333;
    }
    
    .form-group{
        position: relative;
    }
    .fa{
        position: absolute;
        right:20px;
        top:18px;
    }
 
      input{
        
          height: 45px;
          border-radius: 3px;
          border: solid 1px #cccccc;
          background-color: #fdfdfd;
    }
    ::placeholder { 
        color:$placecolor;
        opacity: 0.5;
        font-size: 14px; 
    }
      .btn{
        width: 140px;
        height: 49px;
        border-radius: 4px;
        color:white;
        font-size: 13px;
        background-color: $customtextcolor;

        &:hover{
            background-color: darken($customtextcolor,5%);
        }
        
    }
    .btn.btn-block{
        width: 100%;
        height: 49px;
        border-radius: 4px;
        color:white;
        font-size: 13px;
        background-color: $customtextcolor;

        &:hover{
            background-color: darken($customtextcolor,5%);
        }
        
    }
    h5{
        padding-top:30px;
        padding-bottom:30px;
      }
      
      p{
            font-size: 12px;
            color: #45d88e;
            text-align: right;
      }

      h6{
          padding-bottom: 48px;
      }
     

}
 }

}




.dashboard{


    .menu-sidebar{
        background-color:$sidebarbg;
        @include elements;
        transition: all 0.5s;
    }

    .menu-sidebar.toggleinout{
        transform:translateX(-100%);
    }

    .logo{
        height:5rem;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .sidemenu{
        @include elements;

        [data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed
        {
            -webkit-transform: rotate(90deg);
            -moz-transform:    rotate(90deg);
            -ms-transform:     rotate(90deg);
            -o-transform:      rotate(90deg);
            transform:         rotate(90deg);
        }

        a.sidemenu-title{
            text-transform: uppercase;
        }

        .nav-link{
            span.menutitle{
                color: inherit;
                display: inline-block;
                font-size: 14px;
                line-height: 1;
                vertical-align: middle;
            }
            
        } 
        a.sidemenulink{
            display: block;
           @include icons;
           transition: all 0.3s ease-in-out;
           font-weight: normal;
           position: relative;

           img.iconst{

            width: 16px;
            height:16px;
            margin-right: 1.9rem;
           }

            span.badge-req{
                width: 25px;
                height: 18px;
                border-radius: 4px;
                background-color: $requestbgclr;
                text-align: center;
                padding: .25em .4em;
                position: absolute;
                right: 3.5rem;
                @include badge;

            }

            //arrow
            span.badge-pay{
                width: 35px;
                height: 18px;
                border-radius: 4px;
                background-color: $paymentbgclr;
                text-align: center;
                padding: .25em .4em;
                position: absolute;
                right: 3.5rem;
                @include badge;

            }
        }

           
         .submenu{
            background-color: $sidebarbgsub;
            @include icons;  
            a{
                padding: 1.7rem 2rem;
                color:#fff;
                transition: all 0.3s ease-in-out;
            } 
            
            
           
             
         }
      
    }

    .main{

        transition: all 0.5s;

        .main-head{
            height: 5rem;
            background-color: #fff;
            transition: all 0.4s;

            a{
                color:#333;
            }
            

            .pageclr{
                height: 5rem;
            }


            //
            .nav-pan{
                .navbar-toggle{
                   

                    .navbar-toggle-bar{

                        display: block;
                        position: relative;
                        width: 22px;
                        height: 2px;
                        border-radius: 1px;
                        background: #333;
                        margin-top: 7px;

                        &.bar2{
                            width: 17px;
                            transition: width .2s linear;
                        }
                    }

                    .bar1,.bar2,.bar3 {
                     outline: 1px solid transparent;
                   }
                        .bar1{
                            top: 0px;
                            -webkit-transition: .4s ease-in-out;
                            -moz-transition: .4s ease-in-out;
                            -o-transition: .4s ease-in-out;
                            transition: .4s ease-in-out;
                      
                        }
                        .bar1.change{

                            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                              transform: rotate(-45deg) translate(-9px, 6px);
                        }

                        .bar2{
                           opacity: 1;
                           -webkit-transition: .4s ease-in-out;
                           -moz-transition: .4s ease-in-out;
                           -o-transition: .4s ease-in-out;
                           transition: .4s ease-in-out;
                        }
                        .bar2.change{
                            opacity: 0;
                         }

                        .bar3{
                            bottom: 0px;
                            -webkit-transition: .4s ease-in-out;
                            -moz-transition: .4s ease-in-out;
                            -o-transition: .4s ease-in-out;
                            transition: .4s ease-in-out;
                        }
                        .bar3.change{
                            -webkit-transform: rotate(45deg) translate(-8px, -8px);
                            transform: rotate(45deg) translate(-8px, -8px);
                        }

                }
                .navbar-toggle button:focus, .navbar-toggler{
                    outline: none;
                }

                .under{
                    border-bottom:2px solid $customtextcolor;
                }
                a.mic{
                        position: relative;

                        .rednote{
                            position: absolute;
                            top:-0.1rem;
                            right: -0.1rem;
                            width:10px;height:10px;border-radius: 50%;background-color: red;
                        }
                }

                .notify{

                    transition: all .5s;

                    li{

                        transition: all .5s;
                        &:hover{
                            padding-left: .2rem;
                            border-left:solid 3px $paymentbgclr;

                        }
                    }
                    div.top-text-light{
                        font-size: 10px;
                    }

                    a.badge-note{
                        background-color: $paymentbgclr;
                        color: #fff;
                        font-size: 12px;
                        height: 16px;
                        padding: .1rem .3rem;
                        border-radius: 5px !important;
                    }
                }
              
            }
//
@media screen and (max-width: 600px) {

    .nav-pan{
        .navbar-toggle{
          display:none;
        }
    }
}

          
        }
    }




}

//request

.reqbody{
    margin-top:30px;
    ::placeholder{
        opacity: 0.4;
    }
    select{
        font-size: 13px;
      background-color: #fdfdfd;
      width: 180px;
      height: 48px;
      border-radius: 4px;
      border: solid 1px #cccccc;
    }
        input{
      ffont-size: 13px;
      background-color: #fdfdfd;
      width: 180px;
      height: 48px;
      border-radius: 4px;
      border: solid 1px #cccccc;
        }

        .thestyle{
            width: 261px;
            height: 100px;
            border-radius: 4px;
            border: solid 1px #cccccc;
        }

        div.filterform1{
            padding: 32px 0px;
            .btn-filter{
                margin-top: .9rem;
                width: 170px;
                height: 48px;
                border-radius: 4px;
                color:white;
                background-color: $customtextcolor;

                &:hover{
                    background-color: darken($customtextcolor,5%);
                }
            }
            .btn-export{
                margin-top: .9rem;
                width: 170px;
                height: 48px;
                border-radius: 4px;
                color:white;
                background-color: #263544;

                &:hover{
                    background-color: darken(#263544,5%);
                }
            }
        }

        .tabletype{

                a{
                    color:#333;
                }
                a.replink{
                    color:$customtextcolor;
                }
            thead{
                border:0px;
                background-color: #f3f3f3;
                border-bottom: 3px solid $customtextcolor;
                font-size: 10px;
            }

            .paidclr{
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background-color: #1fb886;
                vertical-align: middle;
            }
            .pendclr{
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background-color: #f2a14a;
                vertical-align: middle;
            }
            .comclr{
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background-color: #53bed8;
                vertical-align: middle;
            }

                .action{
                    i.iconsize{
                        width: 16px;
                        height: 16px; 
                    }
                }
           i.fa-trash{
               
            color: #d63f3f;
           }
           .modal{

            select#inputService{
                width: 100%;
            }

            .modal-content{
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
            }
            
             .modal-title{
                color:$textcolor;
                 font-size: 14px;
             }
             .modal-header{
                
                background-color: #263544;
             }
           
    
             .modal-footer{
                background-color: #f5f5f5;
             }
    
             .btncan{
                
                background-color: #f5f5f5;    
                height: 49px;
               
    
            }
    
            .btn-delete{
                background-color: $customtextcolor;
                color:#fff;
                width: 140px;
                height: 49px;
                border-color:$customtextcolor;
                border-radius: 4px;

                &:hover{
                    background-color: darken($customtextcolor,5%);
                }
    
            }

            .btn-can{
                background-color: #F5F5F5;
            }
         }
        }


}

//register

        
.reg{

    margin-top: 30px;
   
    select{
        height: 48px;
        font-size: 13px;
        border-radius: 3px;
        background-color: #fdfdfd;
        border: solid 1px #cccccc;
    }
        input{
            font-size: 13px;
            height: 48px;
      border-radius: 3px;
      background-color: #fdfdfd;
      border: solid 1px #cccccc;
        }
    
        button{
            color:white;
            font-size: 13px;
            width: 140px;
            height: 49px;
            border-color:$customtextcolor;
            border-radius: 4px;
            background-color: $customtextcolor;

            &:hover{
                background-color: darken($customtextcolor,5%);
            }
    
        }
        ::placeholder{
            font-size: 13px;
            opacity: 0.4;
        }
            .balance{
                padding: 15px;
            }
        
        .labelname{
            
            p{
                font-size: 14px;
            }
            .difcolor{
                color: #b8c3d4;
                font-size: 12px;
            }
        }


        .labelform{
            input.error{
                color:red;
            }
        }
    }


// conten1 css
.content1{

    padding:20px;
     color:$textcolor;
    margin-top: 21px;
     label{
         
         font-size:14px;
     }
     
     ::placeholder{
            
            font-size:13px;
            opacity: 0.4;
     }
     select{

        font-size: 13px;
        border: solid 1px #cccccc;
        height: 54px;
       
    }
    button{
        margin-top:30px;
        font-size:13px;
        width: 140px;
        height: 54px;
        border-radius: 4px;
        background-color: #45d88e;
        
    }

    button.newsig{
        width: 160px; 
  height: 49px;
  border-radius: 4px;
  background-color: $customtextcolor;
  font-size: 12px;

  &:hover{
            background-color: darken($customtextcolor,5%);
  }
    }
    input.siggy{
        width: 250px;
        height: 54px;
        border-radius: 4px;
        border: solid 1px #cccccc;
        background-color: #fff;
    }
 
    input{
        height: 54px;
        border: solid 1px #cccccc;
    }
    
    input.datefade{
        color: #d8d8d8;
        font-size: 14px;
        
    }
    

    .editt{
        
        button{
            &:hover{
                background-color: #5CCE77;
            }
        }
    }
     

 }

//  content2 css

        
.content2{
  
    color:$textcolor;
   
    a{
        text-decoration: underline;
        color:$customtextcolor;
    }
      input{
       font-size: 13px;
       height: 54px;
       border-radius: 3px;
       background-color: #fdfdfd;
      }
  ::placeholder{
     font-size: 13px;
     opacity:0.5;
  }
    table{
        font-size: 14px;
    }
    thead{
       background-color: #f5f5f5;
    }
    th{
       padding:20px 20px 20px 20px;
    }
    td{
        padding:20px 20px 20px 20px;
    }
    tr.strip{
        background-color: #f5f5f5;
    }
   button{
       font-size: 13px;
   }
    .modal{

       .modal-content{
           box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
       }
       
        .modal-title{
           color:$textcolor;
            font-size: 14px;
        }
        .modal-header{
           
           background-color: #f5f5f5;
        }
      

        .modal-footer{
           background-color: #f5f5f5;
        }

        .btncan{
           
           background-color: #f5f5f5;    
           height: 49px;
          

       }

       .btn-primary{
           background-color: #45d88e;
           width: 140px;
           height: 49px;
           border-color:$customtextcolor;
           border-radius: 4px;

       }
    }

   p.size2{
       font-size: 12px;
   }

  
     
        
   .pend{
       a{
           color:$textcolor;
           text-decoration: none;
           font-size: 12px;
       }
       a.btn-pend{    
           max-width: 90px;
           height: 28px;
           border-radius: 14px;
 background-color: rgba(237, 93, 93, 0.3);
       }
   }
       
   .paid{
       a{
           color:$textcolor;
           text-decoration: none;
           font-size: 12px;
       }
       a.btn-paid{    
           width: 90px;
           height: 28px;
           border-radius: 14px;
           background-color: rgba(69, 216, 142, 0.3);
       }
   }
   
   .action{
       a{
           color:$textcolor;
           text-decoration: none;
           font-size: 14px;
       }

       
       .fa-trash{
           color:$trashcolor;
           padding-right: 8px;
       }
       .fa-eye{
           color:$customtextcolor;
           padding-right: 8px;
       }
       .fa-pencil-alt{
           color:$customtextcolor;
           padding-right: 8px;
       }
   }
  
   // toggle
   .switch {
       position: relative;
       display: inline-block;
       width: 34px;
       height: 20px;
     }
     
     .switch input {display:none;}
     
     .slider {
       position: absolute;
       cursor: pointer;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #ccc;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     .slider:before {
       position: absolute;
       content: "";
       height: 16px;
       width: 16px;
       left: 4px;
       bottom: 2.5px;
       background-color: white;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     input:checked + .slider {
       background-color: #45d88e;
       
     }
     
     input:focus + .slider {
       box-shadow: 0 0 1px #45d88e;
     }
     
     input:checked + .slider:before {
       -webkit-transform: translateX(14px);
       -ms-transform: translateX(10px);
       transform: translateX(10px);
     }
     
     /* Rounded sliders */
     .slider.round {
       border-radius: 34px;
     }
     
     .slider.round:before {
       border-radius: 50%;
     }
.rowpad{

   padding:32px;

   input.long{
       min-width: 350px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #fdfdfd;

      }
      select.long{
       min-width: 350px;
  height: 48px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #fdfdfd;

      }
   
}

  .rowlen{
      
      height: 210px;
      overflow-y: scroll;

      input.custom-control-input{
          margin-left:15px;
      }
  }
  input.custom-control-input{
   margin-left:15px;
}
  .rowrole{
      margin-bottom:100px;
      margin-top:8px;
      padding-top:0px;
  }
 
 label.custom-control-label{
   padding-top:2px;
   padding-right:12px;
}
  button.btn-createrole{
   width: 140px;
   height: 49px;
   border-radius: 4px;
   background-color: $customtextcolor;
   &:hover{
       background-color: darken($customtextcolor,5%);
   }

   a{
       text-decoration: none;
   }
  }
  button.btn-transp{
  background-color: white;

   a{
       text-decoration: none;
       color:$textcolor;
   }
  }

 
  p.docsname{
   font-size: 16px;
   
  }
  p.docsdept{
   font-size: 12px;
   font-weight: 300;
   color: rgba(69, 82, 107, 0.5);
   
  }
  p.smallcolor{
   font-size: 12px;
   color: rgba(69, 82, 107, 0.5);
   padding-top:8px;
  }
  a.dropdown-item{
      font-size: 12px;
  }
  .effect{
      transition: all 0.4s;
    &:hover{
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
}
}




// pagination
.pag{
    p{
        font-size: 14px;
    }
    a{
        color:$customtextcolor;
        font-size: 14px;
    }
    
   .active{

       .page-link{
           border-color:$customtextcolor;
           background-color: $customtextcolor;
           &:hover{
               background-color: darken($customtextcolor,5%);
           }
          
       }
   }
   .page-link{
    width: 40px;
    height: 40px;
    margin-left:4px;
    
   }
}

// settings

.contentset{
    margin-top:30px;
    height: 95vh;
    padding:32px;
    a{
        color:$customtextcolor;
    }
    select{
        font-size: 13px;
        height: 54px;
        border-radius: 3px;
        border: solid 1px #cccccc;
        background-color: #f5f5f5;
          }
    input{
        font-size: 13px;
  height: 54px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #f5f5f5;
    }
    ::placeholder{
        font-size: 13px;
        opacity:0.4;
    }
    p.email{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    p.changeemail{
        font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;

    }
    p.password{
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    p.changepassword{
        font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;

    }
    button.btn-cancel{
        
        font-size: 12px;
        font-weight: 600;
        background-color: #fff;
    }
    button.btn-submit{
        color:white;
        font-size: 12px;
        width: 150px;
  height: 48px;
  border-radius: 3px;
  background-color: $customtextcolor;

  &:hover{
      background-color: darken($customtextcolor,5%);
  }
    }
  input.form-control-file{
        background: white;
        border:0px;
  }
    button.btn-transp{
        background-color:white;
        color: #45526b;
        font-size: 13px;
  font-weight: 600;
    }
    button.btn-create{
        font-size: 13px;
        color:white;
        width: 140px;
        height: 49px;
        border-radius: 4px;
        background-color: $customtextcolor;

        &:hover{
            background-color: darken($customtextcolor,5%);
        }
    }
    button.btn-gen{
        margin-top:20px;
        font-size: 13px;
        color:white;
        width: 20%;
        height: 49px;
        border-radius: 4px;
        background-color: #45d88e;
    }
    button.btn-export{
        margin-top:20px;
        font-size: 13px;
        color:$textcolor;
        width: 20%;
        height: 49px;
        border-radius: 4px;
        background-color: white;
    }
}
//header
.header{
    margin-top:43px;
}
//wrapper
.wrapper{

    max-width: 655px;

    .card{
        border: solid 1px #e0e2e5;
    }
    th{
        padding:20px 20px 20px 20px;
        font-size: 12px;
     }
     td{
         padding:20px 20px 20px 20px;
         font-size: 15px;
     }
    a.colorr{

        color:$customtextcolor;
    }
    
    .table td, .table th {
        
        border-top:0px;
        vertical-align: top;
        border-bottom: 1px solid #dee2e6;
    }
    .doton{
        width: 10px;
        height: 10px;
        background-color: $reqpend;
        border-radius: 50%;
        display: inline-block;
    }

    .dot{
        width: 10px;
        height: 10px;
        background-color: #45d88e;
        border-radius: 50%;
        display: inline-block;
    }

    .generate{
        background-color: #45d88e;
        font-size: 13px;
        font-weight: 600;
        height: 49px;
    }

    .savebtn{
        font-size: 13px;
  font-weight: 600;
    }
}

.certform{

    margin-top:30px;

    input{
        height: 48px;
        font-size: 13px;
        border-radius: 3px;
        background-color: #fdfdfd;
        border: solid 1px #cccccc;
    }
    select{
        height: 48px;
        font-size: 13px;
        border-radius: 3px;
        background-color: #fdfdfd;
        border: solid 1px #cccccc;
    }
    a.nav-link{
        font-size: 13px;
        color:$textcolor;
        text-decoration: none;
    }

    ::placeholder{
        color: #d8d8d8;
        font-size: 14px;
        opacity:0.4;
    }
    button.btn-cancel{
        font-size: 12px;
        background: white;
    }
    button.btn-submit{
        width: 140px;
        font-size: 12px;
        color:white;
        height: 49px;
        border-radius: 4px;
        background-color: #45d88e;
    }
.certhead{
    padding-top:32px;
    padding-bottom: 51px;
}
    .details{
        input{
            width: 317px;
            height: 54px;
            border-radius: 3px;
            background-color: #fdfdfd;
            border: solid 1px #cccccc;
        }

        label.titresults{
            font-size: 16px;
        }
        li.results{
            font-size: 14px;
        }
    }

    p.cour{
        font-family: Courier;
  font-size: 14px;
    }
    .certbody{
        padding-left:10%;
        padding-right: 10%;
        input{
            height: 48px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #fdfdfd;
        }
        select{
            height: 48px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #fdfdfd;
        }

        input.doch{
            height: auto;
            border-radius: 3px;
            border: solid 1px #cccccc;
            background-color: #fdfdfd;

        }
        h5{
            font-size: 17px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            text-align: center;
            color: #45526b;
            text-decoration: underline;
        }
        p.intro{
            padding-top:54px;
            padding-bottom:24px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #45526b;
        }
        p.test{
            padding-bottom:47px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #45526b;
        }

        p.certend{
            padding-top:64px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
        }
        p.docsdept{
            font-size: 12px;
            opacity: 0.6;
        }

        input.line{
            height:auto;
        }
            input#statictext{
                background-color:white;
                border:0px;
                width: 100%;
            }
            input#inputdocname{
                width: 236px;
                position: relative;
            }
            button.btn-mode{
                position: absolute;
                top:35px;
                right:150px;
            }
        
    }
    .stamp{
        padding-top:40px;
        label.docssign{
            font-size: 14px;
            padding-right:15px;
        }
        input.readdocname{
            height: 54px;
            border-radius: 3px;
            border: solid 1px #cccccc;
            background-color: #fdfdfd;
            font-size: 12px;
        }
        button.btn-preview{
            width: 140px;
            height: 49px;
            border-radius: 4px;
            background-color: $customtextcolor;
            color:white;
            font-size: 13px;
            &:hover{
                background-color:darken($customtextcolor,5%);
            }
        }

        h5.modal-title{
            text-decoration: none;
            font-size:17px;
            font-weight: 600;
        }
        .contentmodal{
          max-width: 877px;
        }

        .modal-header{
            background-color: $sidebarbg;
            
           
        }
        .body-modal{
            height: 304px;
            overflow-y:scroll;
            p{
                font-size: 12px;
                 font-weight: 300;opacity:0.4
            }

            .wrap{
                max-width: 350px;
                                        height: 77px;
                                        background-color: #fdfdfd;
                                        border: solid 1px #cccccc;
                                        padding-top:10px;

                                        input.link{
                                            height: auto;
                                        }
            }
        }

        .footer-modal{
            background-color: #f8f9fd;
            

            button.btn-close{
                font-size: 14px;
                font-weight: 600;
                background-color: transparent;
            }
            button.btn-savve{
                font-size: 14px;
                font-weight: 600;
                width: 140px;
                height: 49px;
                color:white;
                border-radius: 4px;
                background-color: $customtextcolor;

                &:hover{
                    background-color:darken($customtextcolor,5%);
                }
            }
        }

        .posrel{
            position: relative;
        }
        button.btn-rel{
            position: absolute;
            top:35px;
            left:250px;
        }
     
    }

    p.signature{
        padding-bottom: 40px;
        opacity: 0.4;
    }
    p.daate{
        font-family: CourierNewPSMT;
        opacity: 0.4;
       
    }
  
}